.sidebar .nav-link.active {
    color: #007bff;
}
.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
form{
    display:block;
}
.container{
    height:88vh;
}