<h2>Project Status</h2>
<div class="container">  
    <div class="row h-100">
    <div class="col-sm-12 my-auto">
    <div class="row justify-content-center ">
    <div class="col-9 bgc">
        Project1 time log: 15hr
    </div>
    </div>

    <div class="row justify-content-center align-items-center">
    <div class="col-9 bgc">
        Project1 estimated time: 15hr 
    </div>
  </div>

  <div class="row justify-content-center align-items-center">
    <div class="col-9 bgc">
        All Employee Time Log: 1hr
    </div>
  </div>
  </div>
</div>
</div> 
